<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Scalable Online Judge - SignIn</title>
		{% load static %}
		<link rel="stylesheet" href={% static 'judge/signin.css' %}>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	</head>
    <body>
        <section class="h-100 gradient-form" style="background-color: #eee;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-6">
                        <div class="card rounded-3 text-black">
                            <div class="row g-0">
                                <div class="col-lg-12">
                                    <div class="card-body p-md-5 mx-md-4">
                                        <div class="text-center">
                                            <h4 class="mt-1 mb-5 pb-1">Scalable Online Judge</h4>
                                        </div>
          
                                        <form action="{% url 'judge:signin'  %}" enctype="multipart/form-data" method="post" id="submission-form">
                                            {% csrf_token %}
                                            <p>Please login to your account</p>
                                            <br>
                                            <p> {{ msg }}</p>
                                            <div class="form-outline mb-4">
                                                <input type="text" name="username" id="username" class="form-control" placeholder="Username" required/>
                                            </div>
          
                                            <div class="form-outline mb-4">
                                                <input type="text" name="password" id="password" class="form-control" placeholder="Password" required/>
                                            </div>
          
                                            <div class="text-center pt-1 mb-5 pb-1">
                                                <input class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" value="Login" />
                                                <a class="text-muted" href="#!">Forgot password?</a>
                                            </div>
          
                                            <div class="d-flex align-items-center justify-content-center pb-4">
                                                <p class="mb-0 me-2">Don't have an account?    </p>
                                                <button type="button" class="btn btn-outline-danger" onclick="location.href = '/judge/signup/'">Create new</button>
                                            </div>
          
                                        </form>
          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>